{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#3a57c4">
    <title>Doccure - HTML Mobile Template</title>

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/swiper/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/circle.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>
    <div class="main-wrapper">
        <div class="side-menu" id="sidebar-menu">
            <div class="close-btn"><span class="material-icons">close</span></div>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a class="" href="index.html">
                        <span class="material-icons">dashboard</span>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a class="" href="{% url 'calendarapp:calendar' doctor_id=9 %}">
                        <span class="material-icons">date_range</span>
                        Calendar
                    </a>
                </li>
                <li>
                    <a class="" href="{% url 'patient-appointments' %}">
                        <span class="material-icons">date_range</span>
                        Patients Appointments
                    </a>
                </li>
                <li>
                    <a class="" href="patients-list.html">
                        <span class="material-icons">person</span>
                        My Patients
                    </a>
                </li>
                <li>
                    <a class="" href="{% url 'doc_time' %}">
                        <span class="material-icons">access_time</span>
                        Schedule Timings
                    </a>
                </li>
                <li>
                    <a class="" href="invoices.html">
                        <span class="material-icons">insert_drive_file</span>
                        Invoices
                    </a>
                </li>
                <li>
                    <a class="" href="{% url 'editpatient' %}">
                        <span class="material-icons">settings</span>
                        Profile Settings
                    </a>
                </li>
                <li>
                    <a class="" href="social-media.html">
                        <span class="material-icons">share</span>
                        Social Media
                    </a>
                </li>
                <li>
                    <a class="" href="change-password.html">
                        <span class="material-icons">lock_open</span>
                        Change Password
                    </a>
                </li>
                {% else %}
                <li>
                    <a class="" href="{% url 'loginview' %}">
                        <span class="material-icons">lock_open</span>
                        Login
                    </a>
                </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <a class="sidebar-logout" href="login.html"><span><img src="assets/img/open-account-logout.svg"
                        alt=""></span>Logout</a>
            {% endif %}
        </div>
        <div class="home">
            <div class="navbar two-action no-hairline">
                <div class="navbar-inner d-flex align-items-center">
                    <div class="left">
                        <a href="#" class="link icon-only">
                            <i class="custom-hamburger">
                                <span><b></b></span>
                            </i>
                        </a>
                    </div>
                    <div class="sliding custom-title">Find Doctor</div>
                    <div class="right d-flex">
                        <a href="#" data-bs-toggle="dropdown" aria-expanded="true" class="link"><i
                                class="material-icons">more_vert</i></a>
                        <div class="dropdown-menu dropdown-menu-end header_drop_icon">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="profile-settings.html" class="dropdown-item">Settings</a>
                            <a href="{% url 'loginview' %}" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-content header-bg">
                <div class="top-search">
                    <div class="container">
                        <div class="search-area">
                            <form action="search">
                                <div class="list inset">
                                    <ul>
                                        <li class="d-flex">
                                            <div class="item-icon">
                                                <i class="search-icon fas fa-user"></i>
                                            </div>
                                            <div class="item-col">
                                                <input type="text" placeholder="Search Doctor">
                                            </div>
                                        </li>
                                       
                                    </ul>
                                    <a href="search-doctor.html" class="button button-large button-primary btn">Search</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="specialist-slider segments">
                    <div class="container">
                        <div class="section-title">
                            <h3>Specialities
                                <a href="search-doctor.html" class="see-all-link">View All</a>
                            </h3>
                        </div>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="content">
                                        <img src="assets/img/kidneys.svg" alt="">
                                        <div class="text">
                                            <a href="#">Urology</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="content">
                                        <img src="assets/img/brain.svg" alt="">
                                        <div class="text">
                                            <a href="#">Neurology</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="content">
                                        <img src="assets/img/cardiology.svg" alt="">
                                        <div class="text">
                                            <a href="#">Cardiology</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="content">
                                        <img src="assets/img/dentist.svg" alt="">
                                        <div class="text">
                                            <a href="#">Dentist</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="content">
                                        <img src="assets/img/kidneys.svg" alt="">
                                        <div class="text">
                                            <a href="#">Urology</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="content">
                                        <img src="assets/img/brain.svg" alt="">
                                        <div class="text">
                                            <a href="#">Neurology</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="content">
                                        <img src="assets/img/cardiology.svg" alt="">
                                        <div class="text">
                                            <a href="#">Cardiology</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="content">
                                        <img src="assets/img/dentist.svg" alt="">
                                        <div class="text">
                                            <a href="#">Dentist</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="focused segments">
                    <div class="container">
                        <div class="focused-content">
                            <div class="section-title">
                                <h3>
                                    Həkimlərimiz
                                </h3>
                            </div>
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    {% for i in doctors %}
                                    <div class="swiper-slide">
                                        <div class="doctor-widget">
                                            <div class="doc-info-left">
                                                <div class="doctor-img">
                                                    <a href="doctor-profile.html">
                                                        <img src="{{ i.profile_pic.url }}"
                                                            class="img-fluid" alt="User Image">
                                                    </a>
                                                </div>
                                                <div class="doc-info-cont">
                                                    <h4 class="doc-name"><a href="doctor-profile.html">{{ i.get_name }}</a></h4>
                                                    <p class="doc-speciality">MDS - Periodontology, BDS</p>
                                                    <h5 class="doc-department">
                                                        <span class="speciality-img"><img
                                                                src="assets/img/specialities/specialities-05.png"
                                                                class="img-fluid" alt="Speciality"></span> Dentist
                                                        <span class="doc-experince">9+ Exp</span>
                                                    </h5>
                                                    <div class="doc-info">
                                                        <div class="rating">
                                                            <i class="fas fa-star filled"></i>
                                                            <i class="fas fa-star filled"></i>
                                                            <i class="fas fa-star filled"></i>
                                                            <i class="fas fa-star filled"></i>
                                                            <i class="fas fa-star"></i>
                                                            <span class="d-inline-block average-rating">(47)</span>
                                                        </div>
                                                        <div class="doc-location">
                                                            <p><i class="fas fa-map-marker-alt"></i> Florida, USA</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="doc-info-right">
                                                <div class="clini-infos">
                                                    <ul>
                                                        <li><i class="far fa-thumbs-up"></i> 98%</li>
                                                        <li><i class="far fa-money-bill-alt"></i> $300 - $1000</li>
                                                    </ul>
                                                </div>
                                                <div class="clinic-booking">
                                                    <div class="clinic-btn">
                                                        <a class="apt-btn" href="{% url 'home:doctorprofile' pk=i.id %}">Profilinə bax</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/plugins/swiper/js/swiper.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
</body>

</html>